:root {
	--primary-color: #bbe9db;
	--secondary-color: #aeccc6;
	--third-color: #757a79;
}
body {
	font-family: "Roboto", sans-serif;
}
h1 {
	font-family: "Ibarra Real Nova", serif;
	font-size: 85px;
}

h2 {
	font-size: 48px;
}
i {
	font-size: 25px;
	color: var(--secondary-color);
}
i:hover {
	color: var(--third-color);
}
.hero p {
	font-size: 30px;
}
.hero {
	text-align: center;
	background: var(--primary-color);
	padding: 150px 50px;
	margin: 0 50px;
	border-radius: 30px;
}
.content {
	margin: 0 50px;
	padding: 20px;
}
a.btn-secondary {
	border-radius: 30px;
	padding: 15px 30px;
}
li {
	list-style: none;
}
li a {
	color: var(--third-color);
}
li a:hover {
	color: var(--primary-color);
}
a.active {
	color: var(--secondary-color);
}
.col-sm-6 a {
	display: block;
	margin: 50px;
	border: 2px solid var(--secondary-color);
	border-radius: 30px;
	padding: 15px 30px;
}
.line {
	height: 5px;
	background: var(--secondary-color);
}
.photo {
	display: block;
	margin: 0 auto;
	border: 3px solid var(--primary-color);
	border-radius: 50%;
	width: 300px;
}
.info {
	padding: 0 30px;
}
.project {
	height: 100%;
}
.contact {
	color: var(--primary-color);
	text-decoration: none;
}
.contact:hover {
	color: var(--secondary-color);
	text-decoration: underline;
}

@media (max-width: 600px) {
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 25px;
	}
	p {
		text-align: center;
		padding: 0px 20px;
	}
	li {
		font-size: 10px;
	}
	.hero {
		margin: 0;
		padding: 50px 0px;
		border-radius: 0px;
	}
	.content {
		padding: 0;
		margin: 20px 0 0 0;
	}
	.info {
		padding: 0;
		margin: 20px 0 0 0;
	}
	.img {
		display: none;
	}
	.btn-secondary,
	.col-sm-6 a {
		display: block;
		margin: 0 auto;
		width: 70%;
	}
	.line {
		margin: 10px;
	}
}
