:root {
	--primary-color: #bbe9db;
	--secondary-color: #aeccc6;
}
body {
	font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 96px;
	font-family: "Ibarra Real Nova", serif;
}
h2 {
	font-size: 48px;
}
i {
	font-size: 25px;
	color: var(--secondary-color);
}
.hero p {
	font-size: 30px;
}
.hero {
	text-align: center;
	background: var(--primary-color);
	padding: 150px 50px;
	margin: 50px;
	border-radius: 30px;
}
.about {
	margin: 50px;
	padding: 20px;
}
a.btn-secondary {
	border-radius: 30px;
	padding: 15px 30px;
}
.col-sm-6 a {
	border: 2px solid var(--secondary-color);
	border-radius: 30px;
	padding: 15px 30px;
}
.line {
	height: 5px;
	background: var(--secondary-color);
}
.photo {
	display: block;
	margin: 0 auto;
	border: 3px solid var(--primary-color);
	border-radius: 50%;
	width: 300px;
}
.info {
	padding: 0 30px;
}
@media (max-width: 600px) {
	h1 {
		font-size: 45px;
	}
	h2 {
		font-size: 25px;
	}
	p {
		text-align: center;
		padding: 0px 20px;
	}

	.hero {
		margin: 0;
		padding: 50px 0px;
		border-radius: 0px;
	}
	.about {
		padding: 0;
		margin: 20px 0 0 0;
	}
	.info {
		padding: 0;
		margin: 20px 0 0 0;
	}
	.img {
		display: none;
	}
	.btn-secondary,
	.col-sm-6 a {
		display: block;
		margin: 0 auto;
		width: 70%;
	}
	.line {
		margin: 10px;
	}
}
